/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/temp/
/src/ppport.h
/src/xshelper.h

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/MySQL-Dump-Parser-XS-*
lib/MySQL/Dump/Parser/XS.c
!lib/MySQL/Dump/Parser/ppport.h
